@font-face {
  font-family: 'Peckish';
  src: url('./Assets/Fonts/Peckish-Bold-Serif-Typeface 2/Peckish.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glacial';
  src: url('./Assets/Fonts/glacial-indifference/GlacialIndifference-Regular.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}
